body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    width: 100vw;
    height: calc(100vh - 150px);
    overflow: hidden;
}

.page .part#code {
    width: 800px;
    background-color: aquamarine;
    white-space: pre;
    overflow-y: auto;
    padding: 0 10px;
}

.page .part.demo {
    position: relative;
    flex: 1;
}

#chart {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
